DISCORD_TOKEN=
# OpenAI Router API
OPENAI_API_KEY=
OPENAI_BASE_URL=https://openrouter.ai/api/v1

BASE_MODEL=google/gemini-2.5-flash
IMG_MODEL=bytedance-seed/seedream-4.5

# MySQL Database settings
MYSQL_HOST = "localhost"
MYSQL_PORT = 3306
MYSQL_USER =   # Change this to your MySQL username
MYSQL_PASSWORD =  # Change this to your MySQL password
MYSQL_DATABASE = "familymood"